<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title + ' | NUST Accommodation'}"></title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<main class="container content">
    <div class="card">
        <div class="card-header">
            <h1>All Users</h1>
        </div>
        <div class="card-body">
            <a href="/admin/user/new" class="btn btn-primary">Create New</a>
            <div class="list-group">
                <div th:each="user : ${users}" class="list-group-item">
                    <span th:text="${user.name + ' ' + user.lastName}"></span>
                    <span th:text="${user.email}"></span>
                    <a th:href="${'/admin/user/disable/'+user.id}">Disable</a>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>