<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    ...
</head>
<body>
<nav class="navbar navbar-dark bg-primary static-top navbar-expand-lg" th:fragment="header">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand"
           href="/">
            Accommodation
        </a>
        <div class="collapse navbar-collapse" id="navbarToggler">

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="housesDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Housing
                    </a>
                    <div class="dropdown-menu" aria-labelledby="housesDropdown">
                        <a class="dropdown-item" href="/houses">Houses</a>
                        <a  sec:authorize="isFullyAuthenticated()" class="dropdown-item" href="/admin/house/create">Create House</a>
                        <!--<a class="dropdown-item" href="#">This</a>-->
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="lifestyleDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        LifeStyle
                    </a>
                    <div class="dropdown-menu" aria-labelledby="lifestyleDropdown">
                        <a class="dropdown-item" href="/shop">Shops</a>
                        <a class="dropdown-item" href="/taxi">Taxis</a>
                        <a class="dropdown-item" href="/church">Church</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="cityLifeDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        City Life
                    </a>
                    <div class="dropdown-menu" aria-labelledby="cityLifeDropdown">
                        <!--<a class="dropdown-item" href="/city/recreation">Recreation</a>-->
                        <a class="dropdown-item" href="/city/movies">Movies</a>
                        <a class="dropdown-item" href="/city/travel">Travel</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/about" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>