<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Digolodollarz Technologies</title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<main class="container content">
    <h1>Spring Starter Template</h1>
    <p>This template serves as the base for
        Spring and Thymeleaf based applications for
        <a href="//diggle.tech/apps">Diggle App Studios</a></p>
</main>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>